body {
    background-color: #dacbbc;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: x-large;
}

.logo {
    padding-right: 20%;
    padding: 1%;
}

nav {
    background-color: #002D5C;
    align-items: center;
}

.highlight {
    color: #e20c0c;
    font-weight: bold;
}

.navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.heroImgContainer {
    display: flex;
    position: relative;
    align-items: center;
}

h2 {
    position: absolute;
    font-family: 'Righteous', sans-serif;
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: 400;
    width: 100%;
}

.heroImg {
    padding-bottom: 2%;
    filter: brightness(70%);
}

.h3 {
    font-family: 'Righteous', sans-serif;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.first {
    text-align: center;
}

h3 {
    font-family: 'Righteous', sans-serif;
    font-size: medium;
    text-align: center;
}

.apology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas:
    "apologyImg apologyText"
    "apologyImg revivalButton"
}

.apologyItem {
    margin: 5px;
    display: grid;
    width: 70%;
}

#apologyImg {
    grid-area: apologyImg;
    margin-left: 40%;
    width: 200px;
    height: auto;
    border: 10px solid white;
}

#apologyText {
    grid-area: apologyText;
    font-family: 'Poppins', sans-serif;
}

#revivalButton {
    grid-area: revivalButton;
    font-family: 'Poppins', sans-serif;
    color: #002D5C;
    cursor: pointer;
}

a {
    background-color: lightblue;
    max-height: 25px;
    max-width: fit-content;
}

.revival-2022 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 466px;
}
.gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "revival-2021 revival-2020 revival-2019"
    "revival-2016 revival-2015 revival-2014"
    "revival-2013 revival-2012 revival-2011"
}

#revival-2021 {
    grid-area: revival-2021;
}

#revival-2020 {
    grid-area: revival-2020;
}

#revival-2019 {
    grid-area: revival-2019;
}

#revival-2016 {
    grid-area: revival-2016;
}

#revival-2015 {
    grid-area: revival-2015;
}

#revival-2014 {
    grid-area: revival-2014;
}

#revival-2013 {
    grid-area: revival-2013;
}

#revival-2012 {
    grid-area: revival-2012;
}

#revival-2011 {
    grid-area: revival-2011;
}

.gridItem {
    margin: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.gridItem img {
    width: 350px;
    height: 466px;
}